<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Video Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <form #videoPostForm="ngForm" novalidate>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked" color="primary">Name</ion-label>
      <ion-input [(ngModel)]="videoPost.name" name="name" type="text" #name="ngModel" required>
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="name.valid || submitted === false" class="ion-padding-start">
       Name is required
      </p>
    </ion-text>

    <ion-item>
     <ion-label position="stacked" color="primary">Caption</ion-label>
     <ion-input [(ngModel)]="videoPost.caption" name="caption" type="text" #caption="ngModel" required>
     </ion-input>
   </ion-item>
   <ion-text color="danger">
     <p [hidden]="caption.valid || submitted === false" class="ion-padding-start">
      Caption is required
     </p>
   </ion-text>

   <ion-item>
    <ion-label position="stacked" color="primary">Tags</ion-label>
    <ion-input [(ngModel)]="videoPost.tags" name="tags" type="text" #tags="ngModel" required>
    </ion-input>
  </ion-item>
  <ion-text color="danger">
    <p [hidden]="tags.valid || submitted === false" class="ion-padding-start">
			Tags is required
    </p>
  </ion-text>
	<ion-item>
	<ion-button expand="full">
		<ion-icon lazy="true" slot="start" name="image"></ion-icon>
		<ion-label slot="end">Upload Video</ion-label>
		<input type="file" (change)="loadImageFromDevice($event)" id="file-input"
			accept="image/png, image/jpeg">
	</ion-button>
	</ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button (click)="createPost(videoPostForm)" type="submit" expand="block">Create</ion-button>
  </div>
</form>
</ion-content>
