<ion-header translucent="true">
 <ion-toolbar>
   <ion-buttons *ngIf="!showSearchbar" slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSchedule()">
     <ion-segment-button value="all">
       All
     </ion-segment-button>
     <ion-segment-button value="favorites">
       Favorites
     </ion-segment-button>
   </ion-segment>
   <ion-title *ngIf="!ios && !showSearchbar">Posts</ion-title>
   <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
   <ion-buttons slot="end">
     <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
       <ion-icon slot="icon-only" name="search"></ion-icon>
     </ion-button>
     <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
       <span *ngIf="ios">Filter</span>
       <span *ngIf="!ios">
         <ion-icon slot="icon-only" name="options"></ion-icon>
       </span>
     </ion-button>
   </ion-buttons>
 </ion-toolbar>
 <ion-toolbar *ngIf="!ios">
   <ion-segment [(ngModel)]="segment">
     <ion-segment-button value="all">
       All
     </ion-segment-button>
     <ion-segment-button value="first">
       Posts
     </ion-segment-button>
     <ion-segment-button value="second">
      Video Posts
    </ion-segment-button>
   </ion-segment>
 </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
 <ion-header collapse="condense">
   <ion-toolbar>
     <ion-title size="large">Posts</ion-title>
   </ion-toolbar>
   <ion-toolbar>
     <ion-searchbar [(ngModel)]="queryText" placeholder="Search"></ion-searchbar>
   </ion-toolbar>
 </ion-header>

 <!-- <div [ngSwitch]="segment">
	<ion-card *ngSwitchCase="'first'">
		<ion-card-header>
			First Content
		</ion-card-header>
		<ion-card-content>
			First Content here
		</ion-card-content>
	</ion-card>

	<ion-card *ngSwitchCase="'second'">
		<ion-card-header>
			Second Header
		</ion-card-header>
		<ion-card-content>
			Second content here
		</ion-card-content>
	</ion-card>

	<ion-card *ngSwitchCase="'third'">
		<ion-card-header>
			Third Header
		</ion-card-header>
		<ion-card-content>
			Third content
		</ion-card-content>
	</ion-card>
</div> -->

 <ion-list #postList>
   <ion-item-group *ngFor="let post of posts">
     <ion-item-sliding>
       <ion-item routerLink="/app/tabs/posts/{{post.id}}">
         <ion-label>
           <h3>{{post.name}}</h3>
           <p>
             {{post.description}} &mdash; created at: {{post.created_at}}
           </p>
         </ion-label>
       </ion-item>
       <ion-item-options>
         <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
           Favorite
         </ion-item-option>
         <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
           *ngIf="segment === 'favorites'">
           Remove
         </ion-item-option>
       </ion-item-options>
     </ion-item-sliding>
   </ion-item-group>
 </ion-list>

 <ion-fab slot="fixed" vertical="bottom" horizontal="center" #fab>
   <ion-fab-button>
     <ion-icon name="add"></ion-icon>
   </ion-fab-button>
   <ion-fab-list side="top">
     <ion-fab-button href="/app/brainr/posts/create-qa-post">
       <ion-icon name="text"></ion-icon>
     </ion-fab-button>
     <ion-fab-button href="/app/brainr/posts/create-video-post">
       <ion-icon name="film"></ion-icon>
     </ion-fab-button>
		 <ion-fab-button href="/app/brainr/posts/create-audio-post">
			<ion-icon name="recording"></ion-icon>
		</ion-fab-button>
		<ion-fab-button href="/app/brainr/posts/create-image-post">
			<ion-icon name="image"></ion-icon>
		</ion-fab-button>
   </ion-fab-list>
 </ion-fab>
</ion-content>
